html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container {
  width: 100%;
  text-align: center;
}

#welcome {
  display: block;

}

#smemo img {
  flex: 1;
  /* animation: rotate-anime 3s linear infinite; */
width: 80%;
top: 2px;
position: relative;
margin-bottom: 100px;
}

.welcome-ins {
  display: block;

}

#insegnami {
 display: none;
 width: 25%;
 margin-bottom: 100px;
}

#chiedimi {
 display: none;
 width: 25%;
 margin-bottom: 100px;
}

#bottone {
  display: inline-block;
  width: 25%;
  left: 500px;
  bottom: -70px;
  position: absolute;
}
#backHome {
  /* per visualizzare inserire display: inline-block */
 display: none;
 width: 10%;
 top: 2px;
 left: 50%;
 position: absolute;
}

#tutorial {
 display: inline-block;
 width: 10%;
 top: 2px;
 right: 10px;
 position: absolute;
}

#impostazioni {
 display: inline-block;
width: 10%;
top: 2px;
position: absolute;
right: 100px;
}

#cards {
  /* per visualizzare inserire display: inline-block */
 display: none;
 width: 60%;
 left: -260px;
 bottom: 20px;
 position: absolute;
}

#intentVideo {
 display: none;
}

@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}
