html {
  display: flex;
  height: 100%;


}

body {
  display: flex;
  flex: 1;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {

  --azzurro: #5ABFEA;
  --giallo: #FDDB06;
  --rosso: #E45934;
  --verde: #99C33F;
  --arancione: #EE7829;

}

                                  /* ELEMENTI GLOBALI */

#backHome {
  /* per visualizzare inserire display: inline-block */
 display: inline-block;
 width: 8%;
 top: 3px;
 left: 20px;
 position: absolute;
}

#tutorial {

 display: inline-block;
 width: 8%;
 top: 2px;
 right: 10px;
 position: absolute;
}

#impostazioni {
 display: inline-block;
width: 8%;
top: 2px;
position: absolute;
right: 100px;
}

#robotCentro {
  /* per visualizzare inserire display: block */
  display: block;
  width: 20%;
  margin: auto;
  position: absolute;
    left: 40%;
    bottom: 60%;

}

#robotDx {
  /* per visualizzare inserire display: inline-block */
  display: none;
  width: 15%;
margin-left: 74%;
bottom: 30%;
position: absolute;
}

#bottone {
  /* per visualizzare inserire display: block */
  display: block;
      width: 20%;
      margin-left: 40%;
      bottom: 0;
      position: absolute;
}

#cards {
  /* per visualizzare inserire display: inline-block */
  display: inline-block;
  width: 10%;
  left: 15px;
  bottom: 10px;
  position: absolute;
}


                                      /* PAGINA - HOME */

div.container {
  width: 100%;
  text-align: center;
}

#welcome {
  /* per visualizzare inserire display: block */
  display: none;

}


#smemoLogo {
  width: 70%;
    top: -100px;
    position: relative;

}

#ins {
  width: 50%;


}

#chied {
  width: 50%;

}



#testo {
  /* per visualizzare inserire display: inline-block */
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;

}



#intentVideo {
 display: none;
}


                               /* PAGINA - INSEGNAMI */

/* per visualizzare inserire display: block */
#insegnami {
  display: none;
}



#testoIns  {
display: inline;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;
margin: auto;
}

                           /* PAGINA - DOMANDA */
#domanda {
  /* per visualizzare inserire display: block */
  display: block;
}

#testoDomanda  {
display: inline;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;
margin: auto;
}

                             /* PAGINA - RISPOSTA */
#risposta {
  /* per visualizzare inserire display: block */
  display: none;
}

#testoRisposta  {
display: inline;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;
margin: auto;
}
                            /* PAGINA - CONTINUA */

 #continua {
   /* per visualizzare inserire display: block */
   display: none;
 }

#testoContinua {
  display: inline;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 35px;
  font-style: normal;
  margin: auto;
  line-height: 9px;
  position: absolute;
    bottom: 46%;
    right: 23%;

}

#testoContinua2 {
  display: inline;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 25px;
  font-style: normal;
  margin: auto;
  line-height: 7px;
  position: absolute;
left: 28%;
bottom: 30%;
}

#testoContinua3 {
  display: inline;
    color: var(--rosso);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
  margin: auto;
  line-height: 7px;
  position: absolute;
    left: 44%;
    bottom: 28%;
}

                              /* PAGINA - SINGLE CARD */

#singleCard {

  display: none;
}


                             /* PAGINA - NEW CARD */

#newCard {
  display: none;
}
                            /* PAGINA - DEFAULT */

#defaultPage {
  /* per visualizzare inserire display: block */
  display: none;
}

#robotDefault {

  width: 20%;
  margin: auto;
  position: relative;
  top: -80px;
}

#testoDefault {
  display: inline;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
  margin: auto;
}

                          /* PAGINA - VOCE */

#voce {
  /* per visualizzare inserire display: block */
  display: none;
  margin-bottom: 40%;
}

#maschio {
  display: inline-block;
  width: 7%;


}

#femmina {
  display: inline-block;
  width: 7%;


}

#Tvoce {
  display: inline-block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: auto;
  margin-bottom: 2%;

}

#bloccoVoce {
  display: block;
  width: 15%;
  margin-left: -45px;
  position: absolute;
  bottom: 57%;
}

#bloccoSfondo {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 45%;
}

#bloccoNome {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 33%;
}

#T2 {
  display: inline-block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-left: 17%;
  line-height: 5px;
  bottom: 20%;
  position: absolute;
}
#T2F {
  display: inline-block;
    color: var(--rosso);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-left: 28%;
    bottom: 18.5%;
  position: absolute;
}


                        /* PAGINA - SFONDO */
#sfondi {
  /* per visualizzare inserire display: block */
  display: none;
  margin-bottom: 40%;
}

#Tsfondi {
  display: inline-block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: auto;
  margin-bottom: 2%;
}


#spazioSmall {
  display: inline-block;
  width: 10%;

}

#dinosauriSmall {
  display: inline-block;
  width: 10%;

}

#caramelleSmall {
  display: inline-block;
  width: 10%;
}

#bloccoVoce2 {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 57%;
}

#bloccoSfondo2 {
  display: block;
  width: 15%;
  margin-left: -45px;
  position: absolute;
  bottom: 45%;
}

#bloccoNome2 {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 33%;
}
                          /* PAGINA - NOME */
#nome {
  /* per visualizzare inserire display: block */
  display: none;
}

#Tnome {
    display: block;
      color: var(--azzurro);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: auto;
    margin-bottom: 7%;
    line-height: 5.5px;
}

#Tnome2 {
    display: inline-block;
      color: var(--rosso);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: auto;
    margin-bottom: 2%;
    line-height: 5.5px;
}

#Tnome3 {
    display: block;
      color: var(--azzurro);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: auto;
    margin-bottom: 2%;
    line-height: 5.5px;
}

#bloccoVoce3 {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 57%;
}

#bloccoSfondo3 {
  display: block;
  width: 15%;
  margin-left: -65px;
  position: absolute;
  bottom: 45%;

}

#bloccoNome3 {
  display: block;
  width: 15%;
  margin-left: -45px;
  position: absolute;
  bottom: 33%;
}
