html {
  display: flex;
  height: 100%;


}

body {
  display: flex;
  flex: 1;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {

  --azzurro: #5ABFEA;
  --giallo: #FDDB06;
  --rosso: #E45934;
  --verde: #99C33F;
  --arancione: #EE7829;

}

                                  /* ELEMENTI GLOBALI */

#backHome {
  /* per visualizzare inserire display: inline-block */
 display: none;
 width: 10%;
 top: 2px;
 left: 50%;
 position: absolute;
}

#tutorial {

 display: inline-block;
 width: 15%;
 top: 2px;
 right: 10px;
 position: absolute;
}

#impostazioni {
 display: inline-block;
width: 15%;
top: 2px;
position: absolute;
right: 100px;
}

#robotCentro {
  /* per visualizzare inserire display: block */
  display: block;
  width: 20%;
  margin: auto;
  position: relative;

}

#robotDx {
  /* per visualizzare inserire display: block */
  display: none;
  width: 15%;

}

#bottone {
  /* per visualizzare inserire display: block */
display: block;
width: 25%;
margin: auto;
bottom: -250px;
position: relative;
}

#cards {
  /* per visualizzare inserire display: inline-block */
 display: inline-block;
 width: 22%;
 left: -20px;
 bottom: -75px;
 position: absolute;
}


                                      /* PAGINA - HOME */

div.container {
  width: 100%;
  text-align: center;
}

#welcome {
  /* per visualizzare inserire display: block */
  display: none;

}

#smemo img {
  flex: 1;
  /* animation: rotate-anime 3s linear infinite; */
width: 60%;
top: 2px;
position: relative;
margin-bottom: 100px;
}



#ins {
  width: 2px;
  margin-top: 200px;

}

#chied {
  width: 20%;
margin-top: 200px;
}

#insegnami {
 display: none;

}

#chiedimi {
 display: none;
 width: 20%;
 margin-bottom: 100px;
}

#testo {
  /* per visualizzare inserire display: inline-block */
  display: none;
  color: var(azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;

}



#intentVideo {
 display: none;
}


                               /* PAGINA - INSEGNAMI */

/* per visualizzare inserire display: block */
#insegnami {
  display: inline-block;
}



#testo2  {
display: inline;
  color: #5ABFEA;
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-size: 30px;
font-style: normal;
margin: auto;

}


                              /* PAGINA - SINGLE CARD */

#singleCard {

  display: none;
}


                             /* PAGINA - NEW CARD */

#newCard {
  display: none;
}

#defaultPage {
  display: none;
}
