html {
  display: flex;
  height: 100%;


}

body {
  display: flex;
  flex: 1;
  margin: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {

  --azzurro: #5ABFEA;
  --giallo: #FDDB06;
  --rosso: #E45934;
  --verde: #99C33F;
  --arancione: #EE7829;
  --bianco: #ffffff;

}


                                  /* ELEMENTI GLOBALI */

#backHome {
  /* per visualizzare inserire display: inline-block */
 display: inline-block;
 width: 8%;
 top: 3px;
 left: 20px;
 position: absolute;
}

#tutorial {

 display: inline-block;
 width: 8%;
 top: 2px;
 right: 10px;
 position: absolute;
}

#impostazioni {
 display: inline-block;
width: 8%;
top: 2px;
position: absolute;
right: 50px;
}

#robotCentro {
  /* per visualizzare inserire display: block */
  display: none;
  width: 20%;
  margin: auto;
  position: absolute;
    left: 40%;
    bottom: 60%;

}

#robotDx {
  /* per visualizzare inserire display: block */
  display: none;
  width: 15%;
margin-left: 74%;
bottom: 30%;
position: absolute;
}


#cards {
  /* per visualizzare inserire display: inline-block */
  display: inline-block;
  width: 10%;
  left: 15px;
  bottom: 10px;
  position: absolute;
}


                                      /* PAGINA - HOME */

div.container {
  width: 100%;
  text-align: center;
}

#welcome { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: block;

}


#smemoLogo {
  width: 70%;
  top: 80px;


}

#ins {
  width: 50%;


}

#chied {
  width: 50%;

}



#testo {
  /* per visualizzare inserire display: inline-block */
  display: block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin-bottom: 10px;
font-style: normal;


}



#intentVideo {
 display: none;
}


                               /* PAGINA - INSEGNAMI */

/* accendere robotCentro */
/* per visualizzare inserire display: block */
#insegnami { /*------------------------------------------------------------------------------------------------------------------*/
  display: none;
}



#testoIns  {
display: block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-style: normal;
margin: auto;
line-height: 9px;
margin-top: 15%;
}

                           /* PAGINA - DOMANDA */

/* accendere robotCentro */
#domanda { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
}

#testoDomanda  {
display: block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-style: normal;
margin: auto;
line-height: 9px;
margin-top: 15%;
}

                             /* PAGINA - RISPOSTA */

/* accendere robotCentro */
#risposta { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
}

#testoRisposta  {
display: block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
font-style: normal;
margin: auto;
line-height: 9px;
margin-top: 15%;
}
                            /* PAGINA - CONTINUA */


 #continua { /*------------------------------------------------------------------------------------------------------------------*/
   /* per visualizzare inserire display: block */
   display: none;
 }

#robotWow {
  display: block;
  width: 20%;
  margin: auto;
  position: absolute;
    left: 40%;
    bottom: 55%;
}
#testoContinua {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;
  margin-top: 15%;

}

#testoContinua2 {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;

}

#testoContinua3 {
  display: block;
    color: var(--rosso);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;

}

                              /* PAGINA CHIEDIMI */

#chiedimi { /*------------------------------------------------------------------------------------------------------------------*/
  display: none;
}

#testoChiedimi {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;
  margin-top: 15%;
}

                              /* PAGINA - SINGLE CARD */

#singleCard { /*------------------------------------------------------------------------------------------------------------------*/

  display: none;
}


                             /* PAGINA - NEW CARD */
/* accendere robotDx */
#newCard { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;

}

#testoNewCard {
  display: inline;
    color: white;
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-size: 35px;
  font-style: normal;
  margin: auto;
  position: absolute;
  top: 20%;
  right: 33%;
}

#card1 {
  width: 30%;
    margin: auto;
    position: absolute;
    top: 25%;
    right: 35%;
}

#colore {
width: 120%;
}
                            /* PAGINA - DEFAULT */

#defaultPage { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
}

#robotDefault {

  width: 20%;
  margin: auto;
  position: relative;
  top: -80px;
}

#testoDefault {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;
  margin-top: 15%;
}

                          /* PAGINA - VOCE */

/* accendere robotDx */
#voce { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
  margin-bottom: 40%;
}

#maschio {
  display: inline-block;
  width: 7%;


}

#femmina {
  display: inline-block;
  width: 7%;


}

#Tvoce {
  display: inline-block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 18%;

}

#bloccoVoce {
  display: block;
  width: 16%;
  position: absolute;
  bottom: 57%;
  right: 88%;
}

#bloccoSfondo {
  display: block;
  width: 15%;
  right: 90%;
  position: absolute;
  bottom: 43%;
}

#bloccoNome {
  display: block;
  width: 15%;
  position: absolute;
  bottom: 29%;
  right: 90%;
}

#T2 {
  display: inline-block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
    font-size: 10px;
    bottom: 20%;
    position: absolute;
    line-height: 10%;
    right: 6%;
}
#T2F {
  display: inline-block;
    color: var(--rosso);
    font-family: gill-sans-nova, sans-serif;
    font-size: 10px;
    bottom: 19%;
    position: absolute;
    line-height: 15%;
    right: 14%;
}


                        /* PAGINA - SFONDO */

/* accendere robotDx */
#sfondi { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
  margin-bottom: 40%;
}

#Tsfondi {
  display: inline-block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 18%;
}


#spazioSmall {
  display: inline-block;
  width: 10%;

}

#dinosauriSmall {
  display: inline-block;
  width: 10%;

}

#caramelleSmall {
  display: inline-block;
  width: 10%;
}

#bloccoVoce2 {
  display: block;
  width: 15%;
  position: absolute;
  bottom: 58%;
  right: 90%;
}

#bloccoSfondo2 {
  display: block;
  width: 16%;
  position: absolute;
  bottom: 43%;
  right: 88%;
}

#bloccoNome2 {
  display: block;
  width: 15%;
  position: absolute;
  bottom: 29%;
  right: 90%;
}

#T4 {
  display: inline-block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
    font-size: 10px;
    bottom: 20%;
    position: absolute;
    line-height: 10%;
    right: 9%;
}

                          /* PAGINA - NOME */

/* accendere robotDx */
#nome { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
}

#Tnome {
    display: block;
      color: var(--azzurro);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    margin: auto;
    margin-bottom: 5%;
    line-height: 5.5px;
}

#Tnome2 {
    display: inline-block;
      color: var(--rosso);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    margin: auto;
    margin-bottom: 3%;
    line-height: 5.5px;
}

#Tnome3 {
    display: block;
      color: var(--azzurro);
      font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    margin: auto;
    line-height: 5.5px;
}

#bloccoVoce3 {
  display: block;
  width: 15%;
  position: absolute;
  bottom: 57%;
  right: 90%;
}

#bloccoSfondo3 {
  display: block;
  width: 15%;
  position: absolute;
  bottom: 43%;
  right: 90%;

}

#bloccoNome3 {
  display: block;
  width: 16%;
  position: absolute;
  bottom: 28%;
  right: 88%;
}
