html {
  display: flex;
  height: 100%;


}

body {
  display: flex;
  flex: 1;
  margin: 0;
  background-color: white;
  /* background-image: url('spazio.svg'); */
  background-size: 550px;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {

  --azzurro: #5ABFEA;
  --giallo: #FDDB06;
  --rosso: #E45934;
  --verde: #99C33F;
  --arancione: #EE7829;
  --bianco: #ffffff;

}


                                  /* ELEMENTI GLOBALI */

#backHome {
  /* per visualizzare inserire display: inline-block */
 display: inline-block;
 width: 13%;
 top: 75px;
 left: 20px;
 position: absolute;
}

#tutorial {

 display: inline-block;
 width: 13%;
 top: 73px;
 right: -15px;
 position: absolute;
}

#impostazioni {
 display: inline-block;
width: 13%;
top: 75px;
position: absolute;
right: 55px;
}

#robotCentro {
  /* per visualizzare inserire display: block */
  display: none;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 30%;


}

#robotDx {
  /* per visualizzare inserire display: block */
  display: none;
  width: 15%;
margin-left: 75%;
bottom: 10%;
position: absolute;
}


#cards {
  /* per visualizzare inserire display: inline-block */
  display: inline-block;
  width: 12%;
  left: 15px;
  bottom: -10px;
  position: absolute;
}

                                        /* PAGINA - HOME */

#laMiaStoria {
    display: none;
}

#avantiButton {
    width: 10%;
}


                                      /* PAGINA - HOME */

div.container {
  width: 100%;
  text-align: center;
}

#welcome { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: block;

}


#smemoLogo {
  width: 70%;
  margin-top: 10%;


}

#storiaButton {
    width: 10%;
    display: inline-block;
    right: 27px;
    bottom: 2px;
    position: absolute;
}

#ins {
  width: 50%;


}

#chied {
  width: 50%;

}



#testo {
  /* per visualizzare inserire display: inline-block */
  display: block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin-bottom: 10px;
font-style: normal;


}



#intentVideo {
 display: none;
}


                        /* PAGINA - INSEGNAMI */

/* accendere robotCentro */
/* per visualizzare inserire display: block */
#insegnami {
  display: none;
}



#testoIns  {
  display: block;
      color: var(--azzurro);
      font-family: gill-sans-nova, sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 9px;
      margin-top: 30%;
}
                        /* PAGINA - DOMANDA */

/* accendere robotCentro */
 #domanda {
  /* per visualizzare inserire display: block */
  display: none;
}

 #testoDomanda  {
   display: block;
       color: var(--azzurro);
       font-family: gill-sans-nova, sans-serif;
       font-weight: 900;
       font-style: normal;
       line-height: 9px;
       margin-top: 30%;
}

                             /* PAGINA - RISPOSTA */

/* accendere robotCentro */
#risposta { /*------------------------------------------------------------------------------------------------------------------*/
  /* per visualizzare inserire display: block */
  display: none;
}

#testoRisposta  {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 9px;
    margin-top: 30%;
}
                            /* PAGINA - CONTINUA */


 #continua { /*------------------------------------------------------------------------------------------------------------------*/
   /* per visualizzare inserire display: block */
   display: none;
 }

#robotWow {
  display: none;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 30%;
}
#testoContinua {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 5px;
  margin-top: 34%;

}

#testoContinua2 {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 5px;

}

#testoContinua3 {
  display: block;
    color: var(--rosso);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 5px;

}

                              /* PAGINA CHIEDIMI */

#chiedimi { /*------------------------------------------------------------------------------------------------------------------*/
  display: none;
}

#testoChiedimi {
  display: block;
    color: var(--azzurro);
    font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: auto;
  line-height: 9px;
  margin-top: 30%;
}




                                      /* PAGINA - COLORE */

/* accendere robotDx */
#coloreRobot { /*------------------------------------------------------------------------------------------------------------------*/
/* per visualizzare inserire display: block */
display: none;
margin-bottom: 40%;
}

#blu {
display: inline-block;
width: 7%;

}

#viola {
display: inline-block;
width: 7%;

}

#verde {
display: inline-block;
width: 7%;


}

#Tcolore {
  display: inline-block;
  color: var(--azzurro);
  font-family: gill-sans-nova, sans-serif;
  font-weight: 900;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 48%;


}

#bloccoColore {
  display: block;
width: 13%;
position: absolute;
bottom: 34%;
right: 88%;
}

#bloccoSfondo {
  display: block;
    width: 13%;
    position: absolute;
    bottom: 13%;
    right: 90%;
}

#bloccoNome {
  display: block;
      width: 13%;
      position: absolute;
      bottom: -15%;
      right: 89%;
}




                                     /* PAGINA - SFONDO */

/* accendere robotDx */
#sfondi { /*------------------------------------------------------------------------------------------------------------------*/
/* per visualizzare inserire display: block */
display: none;
margin-bottom: 40%;
}

#Tsfondi {
display: inline-block;
color: var(--azzurro);
font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin: auto;
margin-bottom: 2%;
margin-top: 48%;
}


#spazioSmall {
display: inline-block;
width: 10%;

}

#dinosauriSmall {
display: inline-block;
width: 10%;

}

#caramelleSmall {
display: inline-block;
width: 10%;
}

#biancoSmall {
display: inline-block;
width: 10%;
}

#bloccoColore2 {
  display: block;
  width: 13%;
  position: absolute;
  bottom: 34%;
  right: 90%;
}

#bloccoSfondo2 {
  display: block;
      width: 13%;
      position: absolute;
      bottom: 13%;
      right: 88%;
}

#bloccoNome2 {
  display: block;
      width: 13%;
      position: absolute;
      bottom: -8%;
      right: 90%;
}

#T4 {
display: inline-block;
color: var(--azzurro);
font-family: gill-sans-nova, sans-serif;
font-size: 8px;
bottom: 23%;
position: absolute;
line-height: 10%;
right: 10%;
}

                                  /* PAGINA - NOME */

/* accendere robotDx */
#nome { /*------------------------------------------------------------------------------------------------------------------*/
/* per visualizzare inserire display: block */
display: none;
}

#Tnome {
display: block;
color: var(--azzurro);
font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin: auto;
margin-bottom: 2%;
margin-top: 12%;
line-height: 5px;
}

#Tnome2 {
display: inline-block;
color: var(--rosso);
font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin: auto;
margin-bottom: 3%;
line-height: 5.5px;
}

#Tnome3 {
display: block;
color: var(--azzurro);
font-family: gill-sans-nova, sans-serif;
font-weight: 900;
margin: auto;
line-height: 5.5px;
}

#bloccoColore3 {
  display: block;
  width: 13%;
  position: absolute;
  bottom: 34%;
  right: 90%;
}

#bloccoSfondo3 {
  display: block;
      width: 13%;
      position: absolute;
      bottom: 13%;
      right: 90%;

}

#bloccoNome3 {
  display: block;
      width: 13%;
      position: absolute;
      bottom: -8%;
      right: 88%;
}


                                  /* PAGINE - AIUTO */

#chiudiHome{
    display: none;
}

#chiudiImp{
    display: none;
}

#chiudiIns{
    display: none;
}

.chiudiButton {
    width: 10%;
    position: absolute;
    bottom: 2%;
    right: 12%;
}

#aiutoHome {
    display: none;
}

#aiutoImp {
    display: none;
}

#aiutoIns {
    display: none;
}

/* Slider container */
.slider-container {
  position: absolute;
  left: 15%;
  width: 70%;
  top: 15%;
}

/* Hide the images by default */
.SlidesH {
  display: none;
}

.SlidesIp {
  display: none;
}

.SlidesIs {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -40px;
  padding: 16px;
  color: #EE7829;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 3%;
}

.prev {
  left: 2%;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #5ABFEA;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
